.quote {
  background-color: #162b2b;
  border-radius: 6px;
  color: white;
  margin: 3rem auto;
  max-width: 40rem;
  padding: 3rem;
  width: 90%;
}

.quote p {
  font-size: 2.5rem;
}

.quote figcaption {
  color: #a1e0e0;
  font-size: 1.5rem;
  font-style: italic;
  text-align: right;
}
